

.HomePage {
  max-width: 1440px;
  margin: 0 auto;

  &__content {
    margin-bottom: 4rem;
  }

  > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    column-gap: 3rem;
    row-gap: 6rem;
    place-content: center;
  }
}